<div class="share">
  <div class="share__title">Share this page</div>
  <div class="share__buttons">
    <div class="addthis_inline_share_toolbox"></div>
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b5fcd994a9bdcc1"></script>
  </div>
</div>