.video {
  .video__inner {
    position: relative;
    margin-right: 30%;
  }

  .btn-play {
    &,
    &:hover,
    &:focus,
    &:active {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateX(50%);

      @include hidden();

      svg.icon-play {
        transform: perspective(1px) translateZ(0);
      }
    }

    svg.icon-play {
      transition: all 0.3s linear;
    }
    &:hover {
      svg.icon-play {
        stroke: $tertiary;
        fill: $tertiary;
        // @include animation('buzz-out-on-hover 1s linear');
        // animation-iteration-count: 1;
      }
    }
  }

  .video--frame {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: rem(-80);

    iframe,
    object,
    embed {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .video--frame--overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include hidden();
    }
  }
}
