<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-search" viewBox="0 0 27.914 28.914"><g fill="none" stroke-width="4"><g data-name="Ellipse 56"><circle cx="11" cy="11" r="11" stroke="none"/><circle cx="11" cy="11" r="9"/></g><path data-name="Line 4984" d="m17.5 18.5 9 9"/></g></symbol>

<symbol id="icon-play" viewBox="0 0 120 120"><g data-name="Group 1888"><g data-name="Ellipse 21" fill="none" stroke-width="4"><circle cx="60" cy="60" r="60" stroke="none"/><circle cx="60" cy="60" r="58"/></g></g><g data-name="Polygon 25" stroke-linecap="round" stroke-linejoin="round"><path d="M46.5 78.94V41.06c0-.772.514-1.16.734-1.291a1.476 1.476 0 0 1 1.485-.026l34.645 18.94a1.47 1.47 0 0 1 .78 1.317c0 .267-.076.931-.78 1.316l-34.645 18.94a1.476 1.476 0 0 1-1.485-.025 1.476 1.476 0 0 1-.734-1.29Z"/><path d="M82.644 60 48 41.06v37.88L82.644 60m3 0a2.97 2.97 0 0 1-1.56 2.632L49.438 81.573c-2 1.093-4.44-.354-4.44-2.632V41.059c0-2.278 2.44-3.725 4.44-2.632l34.644 18.94A2.97 2.97 0 0 1 85.644 60Z"/></g></symbol>

<symbol id="icon-plus" viewBox="0 0 90.364 90.364"><path data-name="Line 4975" fill="none" stroke-width="10" d="M0 45.182h90.364"/><path data-name="Line 4976" fill="none" stroke-width="10" d="M45.182 0v90.364"/></symbol>

<symbol id="icon-facebook" viewBox="0 0 11.05 20.634"><path d="m10.326 11.607.573-3.734H7.316V5.449a1.867 1.867 0 0 1 2.105-2.018h1.629V.252A19.845 19.845 0 0 0 8.162 0C5.21 0 3.281 1.789 3.281 5.026v2.846H0v3.735h3.28v9.028h4.038v-9.028Z" /></symbol>

<symbol id="icon-instagram" viewBox="0 0 17.68 17.676"><path d="M8.842 4.306a4.532 4.532 0 1 0 4.533 4.532 4.525 4.525 0 0 0-4.533-4.532Zm0 7.478a2.946 2.946 0 1 1 2.946-2.946 2.952 2.952 0 0 1-2.946 2.946Zm5.774-7.664a1.057 1.057 0 1 1-1.057-1.057 1.055 1.055 0 0 1 1.057 1.058Zm3 1.073a5.231 5.231 0 0 0-1.428-3.7 5.265 5.265 0 0 0-3.7-1.428c-1.459-.083-5.833-.083-7.293 0a5.258 5.258 0 0 0-3.7 1.424 5.248 5.248 0 0 0-1.428 3.7c-.083 1.459-.083 5.833 0 7.293a5.231 5.231 0 0 0 1.428 3.7 5.272 5.272 0 0 0 3.7 1.428c1.459.083 5.833.083 7.293 0a5.231 5.231 0 0 0 3.7-1.428 5.265 5.265 0 0 0 1.428-3.7c.083-1.459.083-5.83 0-7.289Zm-1.885 8.855a2.983 2.983 0 0 1-1.68 1.68c-1.164.461-3.924.355-5.21.355s-4.051.1-5.21-.355a2.983 2.983 0 0 1-1.68-1.68c-.461-1.164-.355-3.924-.355-5.21s-.1-4.051.355-5.21a2.983 2.983 0 0 1 1.68-1.68c1.164-.461 3.924-.355 5.21-.355s4.051-.1 5.21.355a2.983 2.983 0 0 1 1.68 1.68c.461 1.164.355 3.924.355 5.21s.108 4.051-.354 5.21Z" /></symbol>

<symbol id="icon-youtube" viewBox="0 0 17.68 12.431"><path d="M17.311 1.946A2.222 2.222 0 0 0 15.748.373 52.463 52.463 0 0 0 8.839 0a52.473 52.473 0 0 0-6.907.372A2.221 2.221 0 0 0 .369 1.945a25.014 25.014 0 0 0 0 8.566 2.188 2.188 0 0 0 1.563 1.548 52.472 52.472 0 0 0 6.907.372 52.493 52.493 0 0 0 6.908-.372 2.188 2.188 0 0 0 1.563-1.548 25.014 25.014 0 0 0 0-8.566ZM7.033 8.857V3.6l4.619 2.629-4.619 2.629Z" /></symbol>

<symbol id="icon-linkedin" viewBox="0 0 15.47 15.469"><path d="M3.463 15.469H.256V5.141h3.207ZM1.857 3.733a1.866 1.866 0 1 1 1.858-1.875 1.873 1.873 0 0 1-1.857 1.875Zm13.609 11.736h-3.2v-5.027c0-1.2-.024-2.735-1.667-2.735-1.667 0-1.923 1.3-1.923 2.648v5.114h-3.2V5.141h3.071V6.55h.045a3.37 3.37 0 0 1 3.034-1.668c3.246 0 3.843 2.137 3.843 4.914v5.673Z" /></symbol>

<symbol id="icon-twitter" viewBox="0 0 17.68 14.327"><path d="M15.862 3.545c.011.157.011.314.011.471a10.241 10.241 0 0 1-10.31 10.31A10.229 10.229 0 0 1 0 12.7a7.5 7.5 0 0 0 .875.045 7.261 7.261 0 0 0 4.5-1.548 3.63 3.63 0 0 1-3.388-2.513 4.567 4.567 0 0 0 .684.056 3.831 3.831 0 0 0 .953-.123A3.615 3.615 0 0 1 .719 5.092v-.045a3.649 3.649 0 0 0 1.638.46A3.629 3.629 0 0 1 1.235.661a10.293 10.293 0 0 0 7.472 3.791 4.091 4.091 0 0 1-.09-.83 3.626 3.626 0 0 1 6.269-2.478 7.131 7.131 0 0 0 2.3-.875 3.615 3.615 0 0 1-1.593 2 7.269 7.269 0 0 0 2.087-.561 7.783 7.783 0 0 1-1.817 1.873Z" /></symbol>

<symbol id="icon-logo" viewBox="0 0 225.262 41.39"><defs><clipPath id="a"><path data-name="Rectangle 7547" fill="none" d="M0 0h225.262v41.39H0z"/></clipPath></defs><g data-name="Group 10095" clip-path="url(#a)"><path data-name="Path 13864" d="M18.675 9.269h-1.766v14.858h1.766v-4.025a5.416 5.416 0 0 0 0-10.832m0 9.074v-7.315a3.657 3.657 0 0 1 0 7.314"/><path data-name="Path 13865" d="M6.425 24.129h1.736a15.015 15.015 0 0 1 .548-4.027h5.041v4.023h1.762V9.262a16.7 16.7 0 0 0-9.087 14.867m7.328-11.661v5.815h-4.4a15 15 0 0 1 4.4-5.815"/><path data-name="Path 13866" d="M26.762 9.272h-1.763v14.856h7.456v-1.7h-5.693Z"/><path data-name="Path 13867" d="m37.087 1.913-.03-.017-.188-.043a84.213 84.213 0 0 0-35.16.006l-.024.006-.045.011A2.168 2.168 0 0 0 0 3.978v3.131c0 22.575 13.974 31.737 18.255 34.006a2.226 2.226 0 0 0 1.052.275 2.149 2.149 0 0 0 1.054-.285c4.26-2.255 18.236-11.414 18.236-34V3.978a2.172 2.172 0 0 0-1.51-2.065m.247 5.2c0 20.755-12.3 30.094-17.588 32.9a.859.859 0 0 1-.9 0C13.558 37.2 1.264 27.856 1.264 7.108V3.977a.9.9 0 0 1 .685-.877h.022A82.906 82.906 0 0 1 36.6 3.088l.011.006a.9.9 0 0 1 .72.884Z"/><path data-name="Path 13868" d="M49.789 8.995c0-3.029-.271-3.356-1.882-3.493l-.681-.054c-.164-.109-.109-.6.055-.682 1.581.054 2.508.082 3.654.082 1.092 0 2.019-.028 3.111-.082.163.082.218.572.055.682l-.409.054c-1.609.22-1.664.6-1.664 3.493v10.126a15.188 15.188 0 0 1-.627 5.29 5.926 5.926 0 0 1-5.375 3.929c-.326 0-1.172-.028-1.172-.573 0-.464.408-1.256.981-1.256a3.331 3.331 0 0 1 1.011.165 4.221 4.221 0 0 0 1.145.191 1.165 1.165 0 0 0 1.092-.71c.627-1.283.708-5.374.708-6.847Z"/><path data-name="Path 13869" d="M54.043 15.423a7.956 7.956 0 0 1 8.193-8.124 7.575 7.575 0 0 1 7.986 7.893 7.856 7.856 0 0 1-7.986 8.031c-5.108 0-8.193-3.658-8.193-7.8m13.877.483c0-3.8-1.679-7.893-6.075-7.893-2.394 0-5.5 1.635-5.5 6.675 0 3.4 1.657 7.824 6.19 7.824 2.763 0 5.385-2.071 5.385-6.606"/><path data-name="Path 13870" d="M75.449 15.423c-1.1 0-1.151.047-1.151.738v3.243c0 2.416.115 2.739 1.4 2.877l.666.07c.139.091.092.505-.045.574a72.831 72.831 0 0 0-2.924-.069c-.989 0-1.771.047-2.669.069a.448.448 0 0 1-.047-.574l.391-.07c1.289-.23 1.336-.46 1.336-2.877V11.12c0-2.416-.161-2.807-1.358-2.9l-.6-.046c-.138-.092-.091-.506.047-.575 1.128.022 1.91.069 2.9.069.9 0 1.68-.022 2.67-.069.138.069.185.483.046.575l-.437.046c-1.334.138-1.38.483-1.38 2.9v2.647c0 .712.046.736 1.151.736h6.582c1.1 0 1.152-.024 1.152-.736V11.12c0-2.416-.047-2.762-1.4-2.9l-.437-.046c-.139-.092-.094-.506.045-.575 1.058.047 1.841.069 2.785.069.9 0 1.68-.022 2.716-.069.136.069.183.483.047.575l-.485.046c-1.333.138-1.38.483-1.38 2.9v8.285c0 2.416.047 2.716 1.38 2.877l.552.07c.138.091.092.505-.047.574a61.361 61.361 0 0 0-2.783-.069c-.944 0-1.771.022-2.785.069a.444.444 0 0 1-.045-.574l.436-.07c1.4-.23 1.4-.46 1.4-2.877v-3.243c0-.691-.047-.738-1.152-.738Z"/><path data-name="Path 13871" d="M102.722 18.944c0 .691 0 3.429.067 4.026a.412.412 0 0 1-.436.253c-.276-.389-.944-1.195-2.946-3.474l-5.339-6.075c-.621-.713-2.186-2.6-2.67-3.1h-.044a5.759 5.759 0 0 0-.122 1.49v5.018c0 1.081.024 4.073.414 4.762.14.255.6.392 1.176.438l.712.07a.42.42 0 0 1-.046.574 58.498 58.498 0 0 0-2.693-.069c-.967 0-1.588.023-2.392.069a.427.427 0 0 1-.048-.574l.623-.07c.528-.069.9-.207 1.013-.46a22.4 22.4 0 0 0 .3-4.74v-6.651a2.1 2.1 0 0 0-.503-1.657 2.494 2.494 0 0 0-1.428-.553l-.39-.045a.4.4 0 0 1 .046-.576c.968.069 2.185.069 2.6.069a7.286 7.286 0 0 0 1.059-.069c.46 1.175 3.176 4.212 3.936 5.064l2.231 2.51c1.586 1.772 2.714 3.061 3.8 4.165h.048a2.318 2.318 0 0 0 .092-.967v-4.928c0-1.082-.024-4.072-.462-4.764-.137-.207-.505-.345-1.426-.46l-.391-.045c-.162-.138-.138-.507.045-.576 1.059.047 1.841.069 2.716.069.989 0 1.586-.022 2.369-.069a.4.4 0 0 1 .046.576l-.322.045c-.734.115-1.2.3-1.289.483-.391.828-.343 3.682-.343 4.741Z"/><path data-name="Path 13872" d="M108.804 23.223a7.176 7.176 0 0 1-3.59-.851 10.571 10.571 0 0 1-.622-3.221c.115-.163.461-.208.553-.069.344 1.172 1.288 3.429 3.956 3.429a2.615 2.615 0 0 0 2.877-2.647 3.455 3.455 0 0 0-1.887-3.223l-2.185-1.428a4.907 4.907 0 0 1-2.485-3.957c0-2.186 1.7-3.957 4.695-3.957a8.959 8.959 0 0 1 2.141.3 3 3 0 0 0 .8.139 10.016 10.016 0 0 1 .416 2.807c-.092.139-.46.207-.576.07a3.014 3.014 0 0 0-3.13-2.6 2.411 2.411 0 0 0-2.739 2.556 3.623 3.623 0 0 0 1.957 2.83l1.841 1.15a5.183 5.183 0 0 1 2.877 4.419c0 2.531-1.91 4.256-4.9 4.256"/><path data-name="Path 13873" d="M127.364 14.047c-1.309 0-1.364.053-1.364.871v3.847c0 2.863.135 3.246 1.663 3.411l.793.082c.163.108.108.6-.057.679-1.472-.054-2.4-.08-3.463-.08-1.175 0-2.1.054-3.165.08a.523.523 0 0 1-.055-.679l.463-.082c1.527-.274 1.582-.548 1.582-3.411V8.944c0-2.864-.191-3.328-1.609-3.437l-.71-.055c-.163-.108-.108-.6.055-.682 1.337.027 2.264.082 3.439.082 1.063 0 1.991-.027 3.163-.082.164.082.219.573.054.682l-.519.055c-1.58.165-1.635.572-1.635 3.437v3.137c0 .846.055.872 1.364.872h7.8c1.309 0 1.364-.026 1.364-.872V8.944c0-2.864-.055-3.272-1.666-3.437l-.519-.055c-.163-.108-.108-.6.057-.682 1.251.055 2.181.082 3.3.082 1.064 0 1.993-.027 3.22-.082.163.082.219.573.054.682l-.572.055c-1.581.165-1.637.572-1.637 3.437v9.821c0 2.863.056 3.219 1.637 3.411l.655.082c.163.108.109.6-.056.679a75.333 75.333 0 0 0-3.3-.08c-1.118 0-2.1.026-3.3.08a.525.525 0 0 1-.057-.679l.519-.082c1.666-.274 1.666-.548 1.666-3.411v-3.847c0-.818-.055-.871-1.364-.871Z"/><path data-name="Path 13874" d="M140.885 15.423a7.956 7.956 0 0 1 8.192-8.124 7.574 7.574 0 0 1 7.986 7.893 7.856 7.856 0 0 1-7.986 8.031c-5.107 0-8.192-3.658-8.192-7.8m13.876.483c0-3.8-1.678-7.893-6.075-7.893-2.391 0-5.5 1.635-5.5 6.675 0 3.4 1.657 7.824 6.19 7.824 2.763 0 5.384-2.071 5.384-6.606"/><path data-name="Path 13875" d="M161.228 19.406c0 2.416.047 2.716 1.519 2.877l.621.069a.447.447 0 0 1-.046.575 77.83 77.83 0 0 0-2.992-.069c-.966 0-1.794.022-2.807.069a.445.445 0 0 1-.045-.575l.483-.069c1.333-.183 1.38-.46 1.38-2.877v-8.491c0-1.957-.047-2.348-1.083-2.463l-.828-.093a.382.382 0 0 1 .047-.574 36.05 36.05 0 0 1 4.555-.185 8.308 8.308 0 0 1 4.419.921 3.976 3.976 0 0 1 1.841 3.451 3.9 3.9 0 0 1-2.3 3.66 7.771 7.771 0 0 1-3.177.689c-.161-.067-.161-.413-.022-.458 2.485-.461 3.382-1.866 3.382-3.867a3.392 3.392 0 0 0-3.7-3.681c-1.22 0-1.244.09-1.244.828Z"/><path data-name="Path 13876" d="M170.804 11.12c0-2.416-.047-2.785-1.38-2.9l-.577-.046c-.137-.093-.09-.507.047-.576 1.128.047 1.863.069 2.9.069.9 0 1.68-.022 2.67-.069.137.069.184.483.045.576l-.436.046c-1.335.137-1.382.482-1.382 2.9v2.648c0 .436.047.873.3.873a1.3 1.3 0 0 0 .642-.253c.322-.275.921-.874 1.175-1.1l2.485-2.461c.436-.415 1.565-1.589 1.794-1.91a.683.683 0 0 0 .163-.369c0-.091-.092-.16-.392-.229l-.621-.138a.385.385 0 0 1 .045-.576c.805.047 1.727.069 2.531.069s1.589-.022 2.277-.069a.425.425 0 0 1 .047.576 5.68 5.68 0 0 0-2.138.644 22.932 22.932 0 0 0-3.224 2.67l-2.071 1.955c-.322.324-.529.53-.529.713 0 .163.138.346.438.713 2.185 2.507 3.957 4.58 5.753 6.467a2.668 2.668 0 0 0 1.753.944l.444.069a.4.4 0 0 1-.047.575c-.6-.047-1.228-.07-2.311-.07-.943 0-1.75.023-2.808.07-.161-.047-.23-.44-.092-.575l.528-.094c.324-.045.552-.114.552-.228 0-.139-.161-.322-.322-.53-.438-.552-1.036-1.174-1.91-2.163l-1.84-2.077c-1.311-1.472-1.68-1.932-2.232-1.932-.344 0-.391.3-.391 1.1v2.969c0 2.415.047 2.738 1.335 2.877l.622.069c.136.092.093.505-.047.575a63.515 63.515 0 0 0-2.808-.07c-.944 0-1.725.023-2.669.07a.445.445 0 0 1-.047-.575l.461-.069c1.219-.184 1.266-.461 1.266-2.877Z"/><path data-name="Path 13877" d="M186.599 11.167c0-2.439-.045-2.832-1.4-2.946l-.573-.046c-.138-.093-.093-.506.045-.576 1.151.047 1.933.07 2.9.07.921 0 1.7-.023 2.854-.07.139.07.184.483.047.576l-.576.046c-1.358.114-1.4.506-1.4 2.946v8.192c0 2.44.045 2.763 1.4 2.924l.576.069c.137.092.092.5-.047.575a65.527 65.527 0 0 0-2.854-.071c-.967 0-1.662.024-2.811.071a.447.447 0 0 1-.045-.575l.485-.069c1.36-.161 1.4-.483 1.4-2.924Z"/><path data-name="Path 13878" d="M206.505 18.944c0 .691 0 3.429.071 4.026a.416.416 0 0 1-.438.253c-.275-.389-.944-1.195-2.946-3.474l-5.34-6.075c-.619-.713-2.185-2.6-2.669-3.1h-.045a5.77 5.77 0 0 0-.116 1.494v5.018c0 1.081.023 4.073.414 4.762.138.255.6.392 1.175.438l.713.07a.422.422 0 0 1-.047.574 58.457 58.457 0 0 0-2.692-.069c-.967 0-1.588.023-2.393.069a.425.425 0 0 1-.047-.574l.622-.07c.528-.069.9-.207 1.013-.46a22.208 22.208 0 0 0 .3-4.74v-6.655a2.107 2.107 0 0 0-.505-1.657 2.5 2.5 0 0 0-1.428-.553l-.391-.045a.4.4 0 0 1 .047-.576c.967.069 2.185.069 2.6.069a7.3 7.3 0 0 0 1.06-.069c.461 1.175 3.175 4.212 3.933 5.064l2.234 2.507c1.588 1.772 2.714 3.061 3.8 4.165h.047a2.319 2.319 0 0 0 .092-.967v-4.925c0-1.082-.023-4.072-.461-4.764-.138-.207-.505-.345-1.425-.46l-.391-.045c-.163-.138-.139-.507.044-.576 1.059.047 1.841.069 2.716.069a35.1 35.1 0 0 0 2.369-.069.4.4 0 0 1 .047.576l-.322.045c-.736.115-1.2.3-1.289.483-.391.828-.346 3.682-.346 4.741Z"/><path data-name="Path 13879" d="M212.551 23.223a7.192 7.192 0 0 1-3.592-.851 10.689 10.689 0 0 1-.622-3.221c.117-.163.463-.208.553-.069.346 1.172 1.29 3.429 3.959 3.429a2.615 2.615 0 0 0 2.877-2.647 3.46 3.46 0 0 0-1.888-3.223l-2.184-1.428a4.906 4.906 0 0 1-2.486-3.957c0-2.186 1.7-3.957 4.695-3.957a8.959 8.959 0 0 1 2.141.3 3.009 3.009 0 0 0 .8.139 10.015 10.015 0 0 1 .416 2.807c-.094.139-.46.207-.576.07a3.013 3.013 0 0 0-3.128-2.6 2.412 2.412 0 0 0-2.74 2.556 3.626 3.626 0 0 0 1.955 2.83l1.843 1.15a5.183 5.183 0 0 1 2.877 4.419c0 2.531-1.91 4.256-4.9 4.256"/><path data-name="Path 13880" d="M42.42 38.241c-.083-.262-.13-.3-.488-.3h-1.8c-.3 0-.369.035-.451.286l-.417 1.249a4.5 4.5 0 0 0-.262.987c0 .143.059.213.345.238l.392.036a.191.191 0 0 1-.023.3c-.31-.024-.678-.024-1.238-.036-.393 0-.821.024-1.142.036a.234.234 0 0 1-.023-.3l.391-.036a.792.792 0 0 0 .714-.583c.215-.547.548-1.32 1.047-2.652l1.213-3.212a1.7 1.7 0 0 0 .2-.845 1.329 1.329 0 0 0 .619-.451.168.168 0 0 1 .178.106c.154.524.345 1.07.523 1.594l1.631 4.782c.344 1.023.5 1.2 1.01 1.261l.322.036a.234.234 0 0 1 0 .3c-.488-.024-.9-.036-1.44-.036-.57 0-1.022.024-1.366.036a.2.2 0 0 1-.025-.3l.345-.036c.25-.025.416-.095.416-.214a2.412 2.412 0 0 0-.154-.631Zm-2.355-1.055c-.1.273-.083.286.249.286h1.463c.345 0 .369-.048.262-.369l-.637-1.942a7.771 7.771 0 0 0-.273-.751h-.027c-.035.06-.154.346-.286.7Z"/><path data-name="Path 13881" d="M48.078 39.216c0 1.248.024 1.4.784 1.486l.322.036a.233.233 0 0 1-.024.3 40.928 40.928 0 0 0-1.547-.036c-.5 0-.927.012-1.451.036a.23.23 0 0 1-.023-.3l.248-.036c.69-.095.713-.238.713-1.486v-4.39c0-1.012-.023-1.214-.558-1.272l-.429-.048a.2.2 0 0 1 .025-.3 18.924 18.924 0 0 1 2.355-.094 4.3 4.3 0 0 1 2.283.476 2.054 2.054 0 0 1 .952 1.784 2.016 2.016 0 0 1-1.19 1.892 4.008 4.008 0 0 1-1.643.357c-.082-.035-.082-.214-.011-.238a1.85 1.85 0 0 0 1.749-2 1.754 1.754 0 0 0-1.908-1.904c-.63 0-.642.046-.642.428Z"/><path data-name="Path 13882" d="M54.892 39.216c0 1.248.023 1.4.784 1.486l.321.036a.231.231 0 0 1-.023.3 40.974 40.974 0 0 0-1.547-.036c-.5 0-.927.012-1.452.036a.231.231 0 0 1-.023-.3l.249-.036c.689-.095.713-.238.713-1.486v-4.39c0-1.012-.024-1.214-.559-1.272l-.428-.048a.2.2 0 0 1 .024-.3 18.933 18.933 0 0 1 2.355-.094 4.307 4.307 0 0 1 2.284.476 2.054 2.054 0 0 1 .952 1.784 2.015 2.015 0 0 1-1.191 1.892 4.007 4.007 0 0 1-1.642.357c-.082-.035-.082-.214-.011-.238a1.849 1.849 0 0 0 1.748-2 1.754 1.754 0 0 0-1.913-1.904c-.631 0-.642.046-.642.428Z"/><path data-name="Path 13883" d="M60.743 34.933c0-1.248-.023-1.439-.773-1.5l-.3-.025c-.071-.047-.048-.261.023-.3.667.023 1.071.035 1.547.035s.87-.012 1.463-.035c.071.035.095.249.024.3l-.284.027c-.7.058-.725.249-.725 1.5v4.139c0 .75.035 1.06.249 1.285.13.131.357.273 1.3.273 1.012 0 1.26-.047 1.452-.154a2.532 2.532 0 0 0 .784-1.178c.071-.059.3-.012.3.072a9.518 9.518 0 0 1-.5 1.665 94.203 94.203 0 0 0-2.963-.035h-1.097c-.5 0-.879.012-1.547.035a.231.231 0 0 1-.023-.3l.357-.036c.69-.072.713-.238.713-1.486Z"/><path data-name="Path 13884" d="M67.898 34.957c0-1.261-.024-1.463-.726-1.523l-.3-.024c-.072-.047-.049-.262.023-.3.595.024 1 .035 1.5.035.477 0 .88-.012 1.475-.035.072.035.095.25.024.3l-.3.024c-.7.059-.724.262-.724 1.523v4.234c0 1.262.023 1.428.724 1.51l.3.036c.071.047.048.262-.024.3-.595-.023-1-.035-1.475-.035-.5 0-.9.012-1.5.035a.229.229 0 0 1-.023-.3l.3-.036c.7-.082.726-.248.726-1.51Z"/><path data-name="Path 13885" d="M72.513 34.933c0-1.237-.023-1.415-.726-1.5l-.19-.025c-.072-.047-.048-.261.023-.3.512.023.916.035 1.4.035h2.241a16.044 16.044 0 0 0 1.605-.035 13.467 13.467 0 0 1 .191 1.581.232.232 0 0 1-.3.024c-.178-.559-.286-.975-.905-1.13a5.584 5.584 0 0 0-1.154-.072h-.857c-.358 0-.358.024-.358.476v2.379c0 .334.036.334.393.334h.689a4.37 4.37 0 0 0 1.011-.072c.144-.047.227-.119.287-.416l.095-.487a.234.234 0 0 1 .309.012c0 .286-.048.75-.048 1.2 0 .429.048.88.048 1.142a.234.234 0 0 1-.309.012l-.108-.464a.5.5 0 0 0-.367-.452 3.967 3.967 0 0 0-.917-.059h-.685c-.357 0-.393.012-.393.321v1.677c0 .63.036 1.035.226 1.237.142.143.392.273 1.439.273a3.5 3.5 0 0 0 1.523-.177 3.008 3.008 0 0 0 .845-1.154.217.217 0 0 1 .3.083 10.313 10.313 0 0 1-.534 1.653c-1.071-.023-2.13-.035-3.189-.035h-1.07c-.511 0-.916.012-1.617.035a.229.229 0 0 1-.025-.3l.393-.036c.678-.059.737-.238.737-1.486Z"/><path data-name="Path 13886" d="M80.05 34.695c0-.832-.058-1.083-.56-1.154l-.26-.035a.178.178 0 0 1 .012-.3 50.373 50.373 0 0 1 2.985-.095 7.444 7.444 0 0 1 2.616.357 3.564 3.564 0 0 1 2.417 3.511 3.9 3.9 0 0 1-2.084 3.545 5.741 5.741 0 0 1-2.664.571c-.761 0-1.522-.1-1.939-.1-.5 0-.926.012-1.486.036a.232.232 0 0 1-.025-.3l.275-.036c.688-.095.712-.238.712-1.486Zm.976 4.247a2.214 2.214 0 0 0 .237 1.3c.262.368.714.487 1.463.487 2.309 0 3.344-1.51 3.344-3.721 0-1.311-.63-3.522-3.746-3.522a2.654 2.654 0 0 0-1.179.166c-.1.072-.118.368-.118.9Z"/><path data-name="Path 13887" d="M94.449 39.216c0 1.248.024 1.4.785 1.486l.321.036a.231.231 0 0 1-.024.3 40.881 40.881 0 0 0-1.546-.036c-.5 0-.928.012-1.451.036a.23.23 0 0 1-.024-.3l.249-.036c.69-.095.713-.238.713-1.486v-4.39c0-1.012-.023-1.214-.559-1.272l-.429-.048a.2.2 0 0 1 .025-.3 18.95 18.95 0 0 1 2.356-.094 4.3 4.3 0 0 1 2.282.476 2.054 2.054 0 0 1 .952 1.784 2.016 2.016 0 0 1-1.19 1.892 4 4 0 0 1-1.642.357c-.082-.035-.082-.214-.012-.238a1.85 1.85 0 0 0 1.749-2 1.754 1.754 0 0 0-1.916-1.9c-.629 0-.642.046-.642.428Z"/><path data-name="Path 13888" d="M102.012 37.158c-.571 0-.595.023-.595.38v1.678c0 1.248.058 1.415.725 1.486l.345.036c.071.047.048.262-.023.3a40.035 40.035 0 0 0-1.511-.035c-.512 0-.917.023-1.381.035a.229.229 0 0 1-.022-.3l.2-.036c.665-.119.689-.238.689-1.486v-4.283c0-1.248-.083-1.451-.7-1.5l-.309-.024c-.072-.047-.047-.262.024-.3.582.012.987.035 1.5.035.464 0 .869-.012 1.38-.035.071.035.1.25.023.3l-.225.024c-.69.071-.713.25-.713 1.5v1.368c0 .368.023.381.595.381h3.4c.571 0 .595-.012.595-.381v-1.368c0-1.248-.023-1.428-.726-1.5l-.225-.024c-.072-.047-.048-.262.023-.3.548.024.951.035 1.44.035.463 0 .867-.012 1.4-.035.071.035.1.25.024.3l-.249.024c-.69.071-.714.25-.714 1.5v4.282c0 1.248.024 1.4.714 1.486l.286.036c.071.047.046.262-.025.3a33.761 33.761 0 0 0-1.438-.035c-.489 0-.917.012-1.44.035a.231.231 0 0 1-.023-.3l.225-.036c.726-.119.726-.238.726-1.486v-1.678c0-.357-.023-.38-.595-.38Z"/><path data-name="Path 13889" d="M113.081 39.191c0 1.272.071 1.463.713 1.51l.453.036a.23.23 0 0 1-.024.3 49.584 49.584 0 0 0-1.618-.035c-.5 0-.927.012-1.558.035a.231.231 0 0 1-.024-.3l.368-.036c.69-.071.713-.238.713-1.51v-.607a2.4 2.4 0 0 0-.38-1.475l-1.399-2.735c-.4-.785-.583-.845-.939-.9l-.334-.059a.217.217 0 0 1 .024-.3 21.8 21.8 0 0 0 1.38.035c.547 0 .974-.012 1.272-.035.106.035.106.225.035.3l-.154.024c-.417.059-.5.119-.5.214a5.911 5.911 0 0 0 .369.917c.44.88.88 1.819 1.344 2.641.367-.631.76-1.32 1.118-2.011a10.921 10.921 0 0 0 .772-1.571c0-.071-.213-.154-.5-.19l-.215-.024a.2.2 0 0 1 .024-.3 18.345 18.345 0 0 0 2.243 0 .2.2 0 0 1 .025.3l-.334.059c-.618.107-.975.857-1.57 1.879l-.749 1.3a2.733 2.733 0 0 0-.56 1.926Z"/><path data-name="Path 13890" d="M119.17 41.186a3.7 3.7 0 0 1-1.854-.44 5.477 5.477 0 0 1-.323-1.665c.06-.083.239-.108.286-.035a2.165 2.165 0 0 0 2.046 1.771 1.351 1.351 0 0 0 1.487-1.367 1.786 1.786 0 0 0-.976-1.666l-1.129-.736a2.538 2.538 0 0 1-1.285-2.046 2.139 2.139 0 0 1 2.426-2.046 4.578 4.578 0 0 1 1.106.154 1.585 1.585 0 0 0 .417.071 5.194 5.194 0 0 1 .215 1.452c-.048.071-.239.106-.3.035a1.558 1.558 0 0 0-1.619-1.344 1.246 1.246 0 0 0-1.414 1.321 1.872 1.872 0 0 0 1.011 1.462l.952.595a2.682 2.682 0 0 1 1.487 2.284 2.245 2.245 0 0 1-2.534 2.2"/><path data-name="Path 13891" d="M124.423 34.957c0-1.261-.023-1.463-.725-1.523l-.3-.024c-.072-.047-.048-.262.024-.3.594.024 1 .035 1.5.035.477 0 .88-.012 1.476-.035.072.035.095.25.023.3l-.3.024c-.7.059-.725.262-.725 1.523v4.234c0 1.262.024 1.428.725 1.51l.3.036c.072.047.049.262-.023.3-.6-.023-1-.035-1.476-.035-.5 0-.9.012-1.5.035a.229.229 0 0 1-.024-.3l.3-.036c.7-.082.725-.248.725-1.51Z"/><path data-name="Path 13892" d="M128.943 33.97a5.125 5.125 0 0 1 3.212-1.011 9.132 9.132 0 0 1 2.1.286.886.886 0 0 0 .334.047c.011.274.071 1.023.166 1.749a.252.252 0 0 1-.322.024 2.156 2.156 0 0 0-2.437-1.737 3.255 3.255 0 0 0-3.367 3.617c0 2.5 1.582 3.877 3.533 3.877a2.535 2.535 0 0 0 2.486-1.7.251.251 0 0 1 .31.048 4.511 4.511 0 0 1-.571 1.629 2.272 2.272 0 0 0-.417.119 6.976 6.976 0 0 1-1.879.273 5.2 5.2 0 0 1-2.962-.8 3.833 3.833 0 0 1-1.69-3.271 3.953 3.953 0 0 1 1.5-3.153"/><path data-name="Path 13893" d="M138.456 41.186a3.715 3.715 0 0 1-1.856-.44 5.488 5.488 0 0 1-.32-1.665c.059-.083.239-.108.285-.035a2.166 2.166 0 0 0 2.046 1.771 1.351 1.351 0 0 0 1.487-1.367 1.789 1.789 0 0 0-.975-1.666l-1.131-.736a2.543 2.543 0 0 1-1.285-2.046 2.14 2.14 0 0 1 2.427-2.046 4.593 4.593 0 0 1 1.107.154 1.566 1.566 0 0 0 .416.071 5.233 5.233 0 0 1 .214 1.452c-.047.071-.238.106-.3.035a1.558 1.558 0 0 0-1.618-1.344 1.246 1.246 0 0 0-1.415 1.321 1.873 1.873 0 0 0 1.012 1.462l.951.595a2.682 2.682 0 0 1 1.487 2.284 2.245 2.245 0 0 1-2.534 2.2"/><path data-name="Path 13894" d="M147.276 34.933c0-1.248-.023-1.439-.773-1.5l-.3-.025c-.071-.047-.048-.261.023-.3.666.023 1.07.035 1.546.035s.87-.012 1.464-.035c.071.035.094.249.023.3l-.285.025c-.7.058-.726.249-.726 1.5v4.139c0 .75.036 1.06.25 1.285.13.131.356.273 1.3.273 1.012 0 1.26-.047 1.452-.154a2.532 2.532 0 0 0 .784-1.178c.071-.059.3-.012.3.072a9.5 9.5 0 0 1-.5 1.665 94.175 94.175 0 0 0-2.962-.035h-1.1c-.5 0-.879.012-1.546.035a.231.231 0 0 1-.023-.3l.357-.036c.69-.072.713-.238.713-1.486Z"/><path data-name="Path 13895" d="M157.907 38.241c-.083-.262-.131-.3-.487-.3h-1.8c-.3 0-.368.035-.452.286l-.416 1.249a4.556 4.556 0 0 0-.262.987c0 .143.059.213.345.238l.392.036a.191.191 0 0 1-.024.3c-.31-.024-.678-.024-1.236-.036-.394 0-.822.024-1.143.036a.235.235 0 0 1-.024-.3l.393-.036a.793.793 0 0 0 .713-.583c.214-.547.547-1.32 1.047-2.652l1.214-3.212a1.7 1.7 0 0 0 .2-.845 1.341 1.341 0 0 0 .618-.451.168.168 0 0 1 .178.106c.155.524.345 1.07.524 1.594l1.63 4.782c.344 1.023.5 1.2 1.011 1.261l.32.036c.084.058.06.249 0 .3-.486-.024-.9-.036-1.438-.036-.571 0-1.023.024-1.368.036a.2.2 0 0 1-.024-.3l.346-.036c.248-.025.415-.095.415-.214a2.453 2.453 0 0 0-.154-.631Zm-2.358-1.055c-.095.273-.083.286.25.286h1.462c.345 0 .369-.048.263-.369l-.642-1.938c-.1-.286-.2-.607-.273-.751h-.025c-.035.06-.154.346-.286.7Z"/><path data-name="Path 13896" d="M162.578 34.695c0-.88-.046-1.107-.582-1.154l-.38-.036a.19.19 0 0 1 .011-.3 28.161 28.161 0 0 1 2.558-.095 4.516 4.516 0 0 1 2 .334 1.561 1.561 0 0 1 .9 1.486 1.722 1.722 0 0 1-1.213 1.63c0 .119.095.154.224.177a1.969 1.969 0 0 1 1.595 1.988c0 1.379-1.023 2.307-3.163 2.307-.345 0-.928-.035-1.428-.035-.525 0-.928.023-1.368.035a.231.231 0 0 1-.024-.3l.215-.036c.63-.106.653-.238.653-1.486Zm.976 1.582c0 .334.012.357.618.334 1.214-.048 1.869-.4 1.869-1.523a1.572 1.572 0 0 0-1.769-1.609 1.456 1.456 0 0 0-.547.071c-.119.035-.167.095-.167.31Zm0 2.76a2.328 2.328 0 0 0 .25 1.3 1.151 1.151 0 0 0 .939.333c1.06 0 1.868-.476 1.868-1.665 0-.941-.477-2.034-2.367-2.034-.642 0-.69.071-.69.309Z"/><path data-name="Path 13897" d="M169.094 37.158a4.112 4.112 0 0 1 4.234-4.2 3.915 3.915 0 0 1 4.127 4.08 4.06 4.06 0 0 1-4.127 4.148 4 4 0 0 1-4.234-4.032m7.172.25c0-1.963-.868-4.081-3.14-4.081-1.236 0-2.843.845-2.843 3.45 0 1.761.857 4.044 3.2 4.044 1.427 0 2.783-1.07 2.783-3.413"/><path data-name="Path 13898" d="M179.51 34.945c0-1.131-.035-1.333-.523-1.392l-.382-.047a.2.2 0 0 1 .013-.3 30.394 30.394 0 0 1 2.651-.094 4.22 4.22 0 0 1 1.988.356 1.775 1.775 0 0 1 .987 1.666 2.2 2.2 0 0 1-1.487 1.987c-.059.071 0 .19.06.286a12.815 12.815 0 0 0 2.39 3.164 1.429 1.429 0 0 0 .821.333.1.1 0 0 1 .012.166 1.854 1.854 0 0 1-.524.06c-1.011 0-1.617-.3-2.461-1.5-.31-.44-.8-1.26-1.167-1.8a.85.85 0 0 0-.845-.381c-.535 0-.558.012-.558.262v1.5c0 1.248.023 1.391.713 1.485l.249.037a.229.229 0 0 1-.024.3 30.943 30.943 0 0 0-1.414-.035c-.5 0-.929.012-1.487.035a.229.229 0 0 1-.024-.3l.3-.037c.689-.082.713-.237.713-1.485Zm.976 1.7a.942.942 0 0 0 .035.392c.035.035.214.059.821.059a1.982 1.982 0 0 0 1.224-.31 1.7 1.7 0 0 0 .6-1.475 1.751 1.751 0 0 0-1.9-1.831c-.738 0-.774.047-.774.381Z"/><path data-name="Path 13899" d="M191.092 38.241c-.082-.262-.13-.3-.487-.3h-1.8c-.3 0-.369.035-.452.286l-.417 1.249a4.527 4.527 0 0 0-.261.987c0 .143.059.213.345.238l.391.036a.19.19 0 0 1-.023.3c-.31-.024-.678-.024-1.237-.036-.394 0-.821.024-1.143.036a.235.235 0 0 1-.023-.3l.392-.036a.792.792 0 0 0 .713-.583c.215-.547.548-1.32 1.047-2.652l1.214-3.212a1.7 1.7 0 0 0 .2-.845 1.331 1.331 0 0 0 .618-.451.169.169 0 0 1 .179.106c.154.524.345 1.07.523 1.594l1.63 4.782c.344 1.023.5 1.2 1.011 1.261l.321.036c.083.058.059.249 0 .3a27.32 27.32 0 0 0-1.439-.036c-.571 0-1.022.024-1.367.036a.2.2 0 0 1-.024-.3l.345-.036c.249-.025.416-.095.416-.214a2.453 2.453 0 0 0-.154-.631Zm-2.354-1.055c-.1.273-.084.286.249.286h1.462c.346 0 .369-.048.263-.369l-.642-1.938c-.1-.286-.2-.607-.273-.751h-.025a8.21 8.21 0 0 0-.285.7Z"/><path data-name="Path 13900" d="M197.43 39.217c0 1.248.024 1.427.713 1.486l.382.036c.071.047.047.261-.024.3-.678-.024-1.083-.036-1.558-.036s-.893.012-1.653.036a.207.207 0 0 1 0-.3l.428-.036c.678-.059.736-.238.736-1.486v-5.322c0-.369 0-.38-.356-.38h-.654a2.442 2.442 0 0 0-1.464.3 2.157 2.157 0 0 0-.535.822.233.233 0 0 1-.311-.083 12.279 12.279 0 0 0 .454-1.773.3.3 0 0 1 .226 0c.071.382.464.369 1.011.369h4.818c.642 0 .75-.024.927-.334.06-.023.191-.012.214.035a7.186 7.186 0 0 0-.177 1.808.223.223 0 0 1-.31.024 1.519 1.519 0 0 0-.3-.869 2.374 2.374 0 0 0-1.381-.3h-.845c-.356 0-.344.011-.344.4Z"/><path data-name="Path 13901" d="M201.435 37.158a4.111 4.111 0 0 1 4.234-4.2 3.915 3.915 0 0 1 4.127 4.08 4.06 4.06 0 0 1-4.127 4.151 4 4 0 0 1-4.234-4.032m7.172.25c0-1.963-.869-4.081-3.14-4.081-1.238 0-2.843.845-2.843 3.45 0 1.761.855 4.044 3.2 4.044 1.427 0 2.784-1.07 2.784-3.413"/><path data-name="Path 13902" d="M212.147 34.945c0-1.131-.035-1.333-.523-1.392l-.382-.047a.2.2 0 0 1 .013-.3 30.394 30.394 0 0 1 2.651-.094 4.22 4.22 0 0 1 1.988.356 1.775 1.775 0 0 1 .987 1.666 2.2 2.2 0 0 1-1.487 1.987c-.059.071 0 .19.06.286a12.814 12.814 0 0 0 2.39 3.164 1.429 1.429 0 0 0 .821.333.1.1 0 0 1 .011.166 1.854 1.854 0 0 1-.524.06c-1.011 0-1.617-.3-2.461-1.5-.312-.44-.8-1.26-1.167-1.8a.85.85 0 0 0-.845-.381c-.535 0-.558.012-.558.262v1.5c0 1.248.023 1.391.713 1.485l.249.037a.229.229 0 0 1-.024.3 30.943 30.943 0 0 0-1.414-.035c-.5 0-.929.012-1.487.035a.229.229 0 0 1-.024-.3l.3-.037c.689-.082.713-.237.713-1.485Zm.976 1.7a.941.941 0 0 0 .035.392c.035.035.214.059.821.059a1.982 1.982 0 0 0 1.224-.31 1.7 1.7 0 0 0 .6-1.475 1.751 1.751 0 0 0-1.9-1.831c-.738 0-.774.047-.774.381Z"/><path data-name="Path 13903" d="M221.994 39.191c0 1.272.072 1.463.714 1.51l.452.036a.231.231 0 0 1-.024.3 49.584 49.584 0 0 0-1.618-.035c-.5 0-.928.012-1.558.035a.232.232 0 0 1-.024-.3l.369-.036c.689-.071.713-.238.713-1.51v-.607a2.394 2.394 0 0 0-.381-1.475l-1.4-2.736c-.4-.785-.582-.845-.94-.9l-.333-.059a.218.218 0 0 1 .023-.3c.382.024.809.035 1.381.035.547 0 .975-.012 1.272-.035.107.035.107.225.035.3l-.154.024c-.416.059-.5.119-.5.214a6.007 6.007 0 0 0 .369.917c.44.88.88 1.819 1.345 2.641.368-.631.76-1.32 1.118-2.011a10.857 10.857 0 0 0 .773-1.571c0-.071-.214-.154-.5-.19l-.214-.024a.2.2 0 0 1 .023-.3c.429.024.773.035 1.142.035s.7-.012 1.107-.035a.2.2 0 0 1 .024.3l-.333.059c-.619.107-.976.857-1.572 1.879l-.749 1.3a2.741 2.741 0 0 0-.559 1.926Z"/></g></symbol>
</defs>
</svg>
