<div class="relative-wrapper padding-wrapper half-width-wrapper small-height-wrapper">
  <div class="hamburger" aria-expanded="false">
    <a href="#" class="hamburger__anchor">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="hamburger__body">
      <div class="hamburger__body__inner">
        {% block subnav %}
        <ul class="menu">
          {% for item in items %}
            <li class="menu-item">
              <a href="{{ item.link }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        {% endblock %}
      </div>
    </div>
  </div>
</div>