
{% macro menu_link(items) %}
    {% for item in items %}
        <li class="menu-item">
          <a href="{{ item.link }}">{{ item.title }}</a>
          {% if item.items is defined %}
            <ul class="sub-menu">
            {{ _self.menu_link(item.items) }}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
{% endmacro %}

{% import _self as macros %}

<h1>Recursive Collpasable</h1>

<nav class="collapsible" aria-label="">
  <ul class="menu">
    {{ macros.menu_link(menu) }}
  </ul>
</nav>


