{% macro menu_link(items) %}
    {% for item in items %}
        <li class="menu-item">
            <a href="{{ item.link }}">{{ item.title }}</a>
            {% if item.items is defined %}
              <ul class="sub-menu">
              {{ _self.menu_link(item.items) }}
              </ul>
            {% endif %}
      {% endfor %}
{% endmacro %}

{% import _self as macros %}

{% embed '@hamburger' %}
  {% block subnav %}
    <ul class="menu collapsible">
      {{ macros.menu_link(menu) }}
    </ul>
  {% endblock %}
{% endembed %}